@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.app-container {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  flex: 0 0 200px; 
  background-color: #111;
  color: white;
  padding: 10px;
}

.main-content {
  flex-grow: 1;
  padding: 10px;
  background-color: #f4f4f4;
  overflow-y: hidden;
}

@media screen and (max-width: 768px) {
  .sidebar {
    flex: 0 0 100px; /* Smaller sidebar for mobile */
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.data-display-area {
  overflow-y: auto;
}

.data-display-area.small {
  max-height: 50vh;
}

.data-display-area.large {
  max-height: 90vh;
}