@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --sidebar-width: 140px; /* Sidebar width variable */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    transparent,
    rgb(var(--background-end-rgb))
  ) rgb(var(--background-start-rgb));
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .app-container, .content-area, .main-content {
    flex-direction: column;
    width: 100%;
    padding: 10px;
  }
  .sidebar {
    width: 100%;
    padding: 10px;
    overflow-x: hidden;
  }
  
  data-display-area {
    flex: none;
    width: 100%;
    max-height: unset;
  }

  .button, .controlButton {
    padding: 12px 15px;
    font-size: 14px;
  }

  h4, .timestamp-item, .data-display {
    font-size: 14px;
  }
}

.content-area {
  flex: 1;
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
}

.data-display-area {
  flex-grow: 1;
  overflow-y: auto;
}

.data-display-area.small {
  max-height: 50vh;
}

.data-display-area.large {
  max-height: 90vh;
}
