@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --spacing-small: 10px;
  --spacing-medium: 20px;
  --spacing-large: 30px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.app-container {
  display: flex;
  flex-direction: column; /* Ensure side-by-side layout by default */
  min-height: 100vh;
}

.sidebar {
  flex: 0 0 250px; 
  background-color: #111;
  color: white;
  padding: var(--spacing-medium);
  overflow-y: auto; /* Enable scrolling for sidebar */
}

.content-area {
  display: flex;
  flex-direction: row; /* Side by side layout for larger screens */
}

.data-display-area {
  flex-grow: 1;
  overflow-y: auto; /* Scrollable content */
}

@media screen and (max-width: 768px) {
  .content-area {
    flex-direction: column; /* Stack on top of each other for smaller screens */
  }
  .sidebar {
    width: 100%;
    padding: var(--spacing-small);
  }

  .main-content, .sidebar {
    /* Stack main content and sidebar vertically on small screens */
    flex-direction: column;

    .sidebar {
      order: -1;
    }
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.data-display-area {
  overflow-y: auto;
}

.data-display-area.small {
  max-height: 50vh;
}

.data-display-area.large {
  max-height: 90vh;
}